<%- include('fragments/head'); %>

    <h1>Kaminari Image board</h1>

    <h2>Welcome!</h2>

    <p>[<a href="/admin">Management</a>]</p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
    </p>

<%- include('fragments/eof'); %>