<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaminari Image Board</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <h1>Kaminari Image board</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
    </p>

    <script src="/js/wakaba.js"></script>
</body>
</html>