<%- include('fragments/head'); %>

<div class="adminbar">
    [<a href="/admin">Management</a>] ||
    [<a href="#">b</a>]
    [<a href="#">a</a>]
    [<a href="#">bb</a>] ||
    [<a href="#">FAQ</a>]
    [<a href="#">Rules</a>] ||
    [<a href="/main">Home</a>]
</div>
<hr>

<h1 class="site-title"><%= header %></h1>

<em class="slogan">Here will be slogan</em>

<div class="main-links">
    <a href="#">FAQ</a> | <a href="#">Rules</a>
</div>

<div class="center-paragraph">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur delectus enim, exercitationem fugit
        ipsa iste iure magnam minima nam necessitatibus optio perspiciatis porro quasi quod ratione repellat voluptates.
    </p>
</div>

<div class="adminbar">
    [<a href="/admin">Management</a>] ||
    [<a href="#">b</a>]
    [<a href="#">a</a>]
    [<a href="#">bb</a>] ||
    [<a href="#">FAQ</a>]
    [<a href="#">Rules</a>] ||
    [<a href="/main">Home</a>]
</div>

<%- include('fragments/footer'); %>

<%- include('fragments/eof'); %>