<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %>></title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/photon.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <base target="main">
</head>
<body>
    <h1><a href="/main">Kaminari IB</a></h1>

    <hr>
    <div class="menu-header">About Site</div>
    <p><a href="#">FAQ</a></p>
    <p><a href="#">Rules</a></p>

    <hr>
    <div class="menu-header">Boards</div>
    <p><a href="#">/b/ — Random</a></p>
    <p><a href="#">/a/ — Anime</a></p>
    <p><a href="#">/bb/ — Random Plus</a></p>

    <hr>
</body>
</html>