<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %>></title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/photon.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <base target="main">
</head>
<body>
    <h1><a href="/main"><%= leftMenuHeader %></a></h1>

    <%- leftMenuContent %>

    <hr>
</body>
</html>