<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kaminari Image Board</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
</head>
<body>